*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background-color: #e74c3c;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

p {
    background-color: #9b59b6;
    display: inline-block;
}

span{
    background-color: #3498db;
    display: inline-block;
}

a{
    background-color: #2ecc71;
    display: inline-block;
}


.cuadro{
    width:150px;
    height: 40px;
    padding: 10px;
    margin: 10px;
}